__pycache__
.envrc
.luarc.json
*.log
runs/*.jsonl
src/lua_old
balatrobot_old.lua
scripts
dump
coverage.xml
.coverage
balatro
src/lua_oldish
tests/lua_old
balatrobot_oldish.lua
balatro_oldish.sh
*.jkr
smods
